.filters-sidebar {
  width: 240px;
  background-color: gray;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.filters-sidebar h3 {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
}

.filters-sidebar label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #444;
}

.filters-sidebar select,
.filters-sidebar input[type="number"] {
  width: 100%;
  padding: 6px 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  background-color: #fafafa;
}

.filters-sidebar input[type="checkbox"] {
  margin-right: 8px;
}

.filters-sidebar input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
@media (max-width: 780px) {
  .filters-sidebar {
    width: 30%;
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: whitesmoke ;
  }

  .filters-sidebar h3 {
    font-size: 15px;
    margin-bottom: 8px;
    justify-content: center;
  }

  .filters-sidebar label {
    font-weight: 600;
    margin-top: 8px;
    font-size: 14px;
  }

  .filters-sidebar select,
  .filters-sidebar input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    font-size: 14px;
  }

  .filters-sidebar input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 8px;
  }
}
