.sort-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.sort-bar label {
  font-weight: 500;
}

.sort-bar select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}
@media (max-width: 780px) {
  .sort-bar {
    flex-direction: start;
    align-items: right;
    gap: 8px;
    padding: 1px 16px;
  }

  .sort-bar label {
    font-size: 15px;
  }

  .sort-bar select {
    width: 50%;
    font-size: 14px;
  }
}